form{
    text-align: center;
    width: 50%;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
}

nav{
    color: white;
}

.errorMsg{
    color: red;
 
}

/* table{
    margin-left: auto;
    margin-right: auto;
}
tr,td,th{
    border: 1px solid black;
    padding: 10px 10px;
    text-align: left;
} */

.Print{

    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;

    width: 450px;
}

.emailNDpass{
    background-color: cornflowerblue;
}


@media print {
    .noPrint{
      display:none;

    }
  }
  h1{
    color:#f6f6;
  }

  .bodyData{
      text-align: center;
      display: block;

  }

  #paymentPart{

      
      margin: 10% 30%;
  }

  #piechart{
   text-align: center;
   position: relative;
   margin: 0% 30%;
  }

  #top_x_div{
    text-align: center;
    position: relative;
    margin: 0% 25%;
   }

   body{
       text-align: center;
   }

   #prmotionTable{
       
   }
/* 
   body{
       background-color: slategray;
       color: white;
   } */